@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


:root{

    --text-color: #ffffee;
    --text-judul: #FFF369;
}

body{
    background-color: #1D292A;
}
 

/* paralax */

#paralax{
    position: relative;
    width: 100%;
    height: 130vh;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D292A;
    
}



#paralax:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 10000;
    background: linear-gradient(to top, #1D292A, transparent);
}

#paralax:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 10000;
   
}

#bg1{
    z-index: 2;
}

#paralax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    pointer-events: none;
}



#text{
    color: #FFF369;
    z-index: 1;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-home{
    display: flex;
    flex-direction: column;
    text-shadow: 0 0 3px #FFF369;
}

.text-home h2:first-child{
    font-size: 150px;
    letter-spacing: 15px;
}
.text-home h2:nth-child(2){
    font-size: 50px;
    text-align: end;
    letter-spacing: 15px;
}

/* end paralax */



/* navbar */
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: inherit;
    z-index: 1000;
    box-shadow: 0 0 5px #394647;
}

.navbar {
    /* transition: top 0.3s ease-in-out; */
    display: flex;
    text-align: center;
    justify-content: space-around;

}

.navbar a{
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    
}





.navbar-logo span{
    display: flex;
    flex-direction: column;
    text-align: start;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #FFF396;
    text-shadow: 0 0 3px white;
    cursor: default;
}

.navbar-logo span:first-child{
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size:30px;
}

.navbar-logo span:nth-child(2){
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: 25px;
}


.navbar a:nth-child(5){
    border: #FFF369 solid 1px;
    width: 5%;
}



.cta {
    position: relative;
    
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
   
  }
  
  .cta:before {
    content: "";
    position: absolute;
    margin-top: 12px;
   
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: var(--text-judul);
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
  }
  
  .cta span {
    position: relative;
    font-size: 18px;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.05em;
    color: var(--text-color);
  }


  
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--text-color);
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  .cta:hover:before {
    width: 100%;
    background: var(--text-judul);
  }

  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active {
    transform: scale(0.95);
  }

  #nabar{
    top: 0;
    transition: top 0.5s ease-in-out;
  }
 
  
/* end navbar */


  /* home title*/
 #home{
    margin-top: 15%;
 }
    .home-text{
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        align-items: center; /* Tambahkan ini */
        text-align: center;
        font-family: "Staatliches", sans-serif;
        font-weight: 400;
        margin-top: 10%;
        font-style: normal;
        letter-spacing: 0.05em;
        margin: 10% auto; /* Ubah ini */
        margin-bottom: 9%;
    }

    .home-title h1{
        margin-bottom: 5%;
        font-size: 50px;
    }

  /* home title*/


  #home-carousel, #product-carousel {
    overflow-x: scroll;
    white-space: nowrap;
    overflow: hidden;
    cursor: grab;
}

#home-carousel.active, #product-carousel.active {
    cursor: grabbing;
}

.home-image img, .product-image img {
    display: inline-block;
      

}



    .home-about{
       
        display: flex;
        margin-top: 20%;
        gap: 5%;
        margin: 10%;
        min-width: 100%; 
       font-family: "Staatliches", sans-serif;
        font-weight: 400;
        font-style: normal;
    
    }

    .home-location{
        display: flex;
        flex-direction: column;
        color: var(--text-color);
        
    }
    .home-location-text h1{
        margin-bottom: 5%;
        font-size: 45px;
    }

    .home-location-text p:nth-child(4){
        margin-bottom: 5%;
    }


    .home-image {
        display: flex;
        gap: 5%;
    }

    .home-image img{
        width: 50%;
        height: 63vh;
        object-fit: cover;
        user-select: none;
    }

    /* product */

        #product{
            margin-bottom: 10%;
        }

        .product-text{
            display: flex;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 5%;
            font-family: "Staatliches", sans-serif;
            font-weight: 400;
            margin-top: 10%;
            font-style: normal;
        }

        .product-text h1{
            font-size: 40px;
            color: var(--text-color);
        }

        .product-text p{
            font-size: 20px;
            color: var(--text-color);
        }

        .product-image img{
            width: 400px;
            height: 520px;
          user-select: none;
        }
        .product-image{
            display: flex;
            gap: 2%;
           
         
        }

        .product-main{
            margin: 2%;
          
        }

    /* end product */


    /* footer */

    .footer {
        background-color: #f8f8f8; /* Warna latar belakang footer */
        padding: 40px 0;
        color: #000; /* Warna teks */
    }
    
    .footer-content {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }
    
    .footer-section {
        width: 45%;
    }
    
    .company-info h2 {
        font-family: "Staatliches", sans-serif;
        font-weight: 400;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .site-map h2 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .site-map ul {
        list-style: none;
        padding: 0;
    }
    
    .site-map ul li {
        margin-bottom: 10px;
    }
    
    .site-map ul li a {
        text-decoration: none;
        color: #000; /* Warna teks link */
        font-size: 16px;
    }
    
    .site-map ul li a:hover {
        text-decoration: underline;
    }
    
    .social-media a {
        display: inline-block;
        margin-right: 10px;
        color: black;
        font-size: 30px;
        transition: transform 0.5s ease-in-out;
    }

    .social-media a:first-child:hover {
        color: red;
        transform: scale(1.2);

    }

    .social-media a:nth-child(2):hover {
        color: blue;
        transform: scale(1.2);
    }
    .social-media a:nth-child(3):hover {
        color: rgb(0, 195, 255);
        transform: scale(1.2);
    }
    
    
    .social-media a img {
        width: 24px;
        height: 24px;
    }

    .footer p{
        font-family: "Staatliches", sans-serif;
        font-weight: 400;
    }

    .footer{
        font-family: "Staatliches", sans-serif;
    }

    .follow{
        padding-top: 35px;
    }

    /* footer */